<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">
        <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <h1>CARRITO</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let producto of productos">
    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size-xs="0.1"></ion-col>
            <ion-col>
              <ion-img [src]="producto.foto" style="width: 20%"></ion-img>
            </ion-col>
            <ion-col>
              <ion-card-title
                class="ion-margin-top ion-margin-bottom"
                type="submit"
                color="secondary"
              >
                CLAVE: - {{ producto.clave }}
              </ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title
                class="ion-margin-top ion-margin-bottom"
                type="submit"
                color="secondary"
              >
                DESCRIPCIÓN: - {{ producto.descripcion }}
              </ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title
                class="ion-margin-top ion-margin-bottom"
                type="submit"
                color="secondary"
              >
                PRECIO: - {{ producto.precio }}
              </ion-card-title>
            </ion-col>
          </ion-row>

          <ion-item-options
            side="start"
            (ionSwipe)="abrirDetalle(producto.clave)"
          >
            <ion-item-option expandable color="success">
              <ion-icon name="eye-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end" (ionSwipe)="eliminar(producto)">
            <ion-item-option expandable color="danger">
              <ion-icon name="trash-outline"> </ion-icon>
            </ion-item-option>
          </ion-item-options>

        </ion-grid>
      </ion-item>
    </ion-item-sliding>
  </ion-card>

  <ion-item>
    <ion-label>
      <ion-chip color="primary" outline="true" class="ion-float-right">
          <ion-label>Total:$ </ion-label>
      </ion-chip>
  </ion-label>
  </ion-item>


</ion-content>
