<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>DETALLES</ion-title>
    <ion-card-subtitle> Equipo 1 y 20</ion-card-subtitle>
    <ion-card-subtitle>Jazmin Ochoa y Puma **</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product">
  <div id="container">
    <ion-card>
      <img [src]="product.foto" />
      <ion-card-header> </ion-card-header>

      <ion-card-content>
        <ion-card-title>
          <ion-label>
            <ion-chip color="primary" outline="true" class="ion-float-right">
              <ion-label>Precio: ${{product.precio}}</ion-label>
            </ion-chip>
          </ion-label>
          <ion-label>Cantidad: {{product.cantidad}}</ion-label>
          <ion-row>
            <ion-label> Descripción: {{product.descripcion}} </ion-label>
          </ion-row>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!--YA NO SE ROMPE-->
